:root{
  --font-color:  #264e70;
  --backround : #ffebd3;
  --shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.forcast{
  background-color:  #ffebd3;
  color: #264e70;
        box-shadow: var(--shadow);
}
.city{
    background-color: var(--backround);
          color: var(--font-color);
    padding: 5px;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 25px;
       font-size: 30px;
    box-shadow: var(--shadow);
}
.data{
     color: var(--font-color);
     font-size: 30px;
     
}
.description{
   font-size: 30px;
      color: var(--font-color);
      background-color: var(--backround);
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
     box-shadow: var(--shadow);
}

